<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <!-- 页面缩放                          设备宽度     设置页面的初始缩放值 是否允许用户进行缩放 -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- 删除苹果默认的工具栏和菜单栏 -->
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <!-- 苹果工具栏颜色 -->
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <!-- X-UA-Compatible 指定网页的兼容性模式设置IE8以下不识别 以IE的最高版本来显示 chrome=1 如果有chrome的话优先展示chrome 360 -->
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <!-- 指定双核浏览器默认以何种方式渲染页面[webkit]极速核[ie-comp]ie兼容内核[ie-stand]ie标准内核 -->
    <meta name="renderer" content="webkit" />
    <link rel="stylesheet" href="../static/css/normalize.css" />
    <link rel="stylesheet" href="../static/css/font.css" />
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="../static/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../static/css/bootstrap-table.min.css" />
    <link rel="stylesheet" href="../static/css/easyui.css" />
    <link rel="stylesheet" href="../static/css/common.css" />
    <!-- <link rel="stylesheet" href="../static/css/security.css"> -->
    <link rel="stylesheet" href="../static/css/reportor.css" />
    <title>享清福安全监管</title>
  </head>

  <body>
    <div id="data_reportor_container" class="container-fluid w-100 h-100">
      <!-- header -->
      <div class="row header">
        <div class="col-9 header-left align-self-center">
          <a href="security.html">
            <h1 class="header-name text-left">
              享清福<span class="logo">®</span>智慧养老安全监管平台
            </h1>
          </a>
        </div>
        <div class="col-3 header-right pl-0">
          <ul class="list-unstyled right_menu">
            <li class="list-inline-item float-left">
              <a
                href="security.html"
                class="li-menu align-items-center justify-content-left"
              >
                <span class="ic-contain"><i class="iconfont">&#xe626;</i></span
                ><span>安全监管</span>
              </a>
            </li>
            <li class="list-inline-item float-left active">
              <a
                href="reportor.html"
                class="li-menu align-items-center justify-content-left"
              >
                <span class="ic-contain"><i class="iconfont">&#xe605;</i></span>
                <span>数据报表</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <!-- content -->
      <div class="row content">
        <!-- left 折叠菜单-->
        <div class="col-3 content-left h-100">
          <div class="row org_list_title align-items-center">
            <div class="col-12">
              <h3 class="org_list_name mb-0">
                安全监管组织列表（<span class="org_list_total">59</span>）
              </h3>
            </div>
          </div>
          <div class="row org_list">
            <div
              class="col-12 no-gutters org_list_contain h-100"
              id="org_collapse"
            >
              <div class="accordion" id="orgAccordion">
                <div class="card">
                  <div class="card-header" id="heading_01">
                    <h1 class="mb-0">
                      <button
                        class="btn btn-link w-100 text-white"
                        type="button"
                        data-toggle="collapse"
                        data-target="#collapse_01"
                        aria-expanded="true"
                        aria-controls="collapseOne"
                      >
                        <span class="float-left">
                          秦淮区(<span class="orgTotal">23</span>)</span
                        ><i class="iconfont float-right icon1">&#xe631;</i
                        ><i class="iconfont float-right icon2">&#xe632;</i>
                      </button>
                    </h1>
                    <div class="list_line"></div>
                  </div>
                  <div
                    id="collapse_01"
                    class="collapse show"
                    aria-labelledby="heading_01"
                    data-parent="#orgAccordion"
                  >
                    <div class="card-body">
                      <ul class="list-unstyled w-100">
                        <li class="w-100">
                          <a
                            href="javascript:;"
                            class="d-block w-100 h-100"
                            onclick="switTab()"
                          >
                            <div class="security w-100 h-100">
                              <div class="sec_left float-left h-100">
                                <img src="../static/img/security.png" alt="" />
                              </div>
                              <div class="sec_right float-right h-100">
                                <h4 class="org_name">
                                  悦华洪武综合养老服务中心
                                </h4>
                                <p class="">
                                  <i class="iconfont">&#xe6a2;</i
                                  ><span class="linkMan">孙晓伟</span>
                                  <i class="iconfont">&#xe64a;</i
                                  ><span class="phoneNum">18800566351</span>
                                </p>
                              </div>
                            </div>
                            <div class="sec_line"></div>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header" id="heading_02">
                    <h1 class="mb-0">
                      <button
                        class="btn btn-link w-100 text-white"
                        type="button"
                        data-toggle="collapse"
                        data-target="#collapse_02"
                        aria-expanded="false"
                        aria-controls="collapse_02"
                      >
                        <span class="float-left">
                          玄武区(<span class="orgTotal">15</span>)</span
                        ><i class="iconfont float-right icon1">&#xe631;</i
                        ><i class="iconfont float-right icon2">&#xe632;</i>
                      </button>
                    </h1>
                    <div class="list_line"></div>
                  </div>
                  <div
                    id="collapse_02"
                    class="collapse"
                    aria-labelledby="heading_02"
                    data-parent="#orgAccordion"
                  >
                    <div class="card-body">
                      <ul class="list-unstyled w-100">
                        <li class="w-100">
                          <a
                            href="javascript:;"
                            class="d-block w-100 h-100"
                            onclick="switTab()"
                          >
                            <div class="security w-100 h-100">
                              <div class="sec_left float-left h-100">
                                <img src="../static/img/security.png" alt="" />
                              </div>
                              <div class="sec_right float-right h-100">
                                <h4 class="org_name">
                                  悦华洪武综合养老服务中心
                                </h4>
                                <p class="">
                                  <i class="iconfont">&#xe6a2;</i
                                  ><span class="linkMan">孙晓伟</span>
                                  <i class="iconfont">&#xe64a;</i
                                  ><span class="phoneNum">18800566351</span>
                                </p>
                              </div>
                            </div>
                            <div class="sec_line"></div>
                          </a>
                        </li>
                        <li class="w-100">
                          <a
                            href="javascript:;"
                            class="d-block w-100 h-100"
                            onclick="switTab()"
                          >
                            <div class="security w-100 h-100">
                              <div class="sec_left float-left h-100">
                                <img src="../static/img/security.png" alt="" />
                              </div>
                              <div class="sec_right float-right h-100">
                                <h4 class="org_name">
                                  悦华洪武综合养老服务中心
                                </h4>
                                <p class="">
                                  <i class="iconfont">&#xe6a2;</i
                                  ><span class="linkMan">孙晓伟</span>
                                  <i class="iconfont">&#xe64a;</i
                                  ><span class="phoneNum">18800566351</span>
                                </p>
                              </div>
                            </div>
                            <div class="sec_line"></div>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header" id="heading_03">
                    <h1 class="mb-0">
                      <button
                        class="btn btn-link w-100 text-white"
                        type="button"
                        data-toggle="collapse"
                        data-target="#collapse_03"
                        aria-expanded="false"
                        aria-controls="collapse_03"
                      >
                        <span class="float-left">
                          江宁区(<span class="orgTotal">6</span>)</span
                        ><i class="iconfont float-right icon1">&#xe631;</i
                        ><i class="iconfont float-right icon2">&#xe632;</i>
                      </button>
                    </h1>
                    <div class="list_line"></div>
                  </div>
                  <div
                    id="collapse_03"
                    class="collapse"
                    aria-labelledby="heading_03"
                    data-parent="#orgAccordion"
                  >
                    <div class="card-body">
                      <ul class="list-unstyled w-100">
                        <li class="w-100">
                          <a href="javascript:;" class="d-block w-100 h-100">
                            <div class="security w-100 h-100">
                              <div class="sec_left float-left h-100">
                                <img src="../static/img/security.png" alt="" />
                              </div>
                              <div class="sec_right float-right h-100">
                                <h4 class="org_name">
                                  悦华洪武综合养老服务中心
                                </h4>
                                <p class="">
                                  <i class="iconfont">&#xe6a2;</i
                                  ><span class="linkMan">孙晓伟</span>
                                  <i class="iconfont">&#xe64a;</i
                                  ><span class="phoneNum">18800566351</span>
                                </p>
                              </div>
                            </div>
                            <div class="sec_line"></div>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header" id="heading_04">
                    <h1 class="mb-0">
                      <button
                        class="btn btn-link w-100 text-white"
                        type="button"
                        data-toggle="collapse"
                        data-target="#collapse_04"
                        aria-expanded="false"
                        aria-controls="collapse_04"
                      >
                        <span class="float-left">
                          鼓楼区(<span class="orgTotal">5</span>)</span
                        ><i class="iconfont float-right icon1">&#xe631;</i
                        ><i class="iconfont float-right icon2">&#xe632;</i>
                      </button>
                    </h1>
                    <div class="list_line"></div>
                  </div>
                  <div
                    id="collapse_04"
                    class="collapse"
                    aria-labelledby="heading_04"
                    data-parent="#orgAccordion"
                  >
                    <div class="card-body">
                      <ul class="list-unstyled w-100">
                        <li class="w-100">
                          <a href="javascript:;" class="d-block w-100 h-100">
                            <div class="security w-100 h-100">
                              <div class="sec_left float-left h-100">
                                <img src="../static/img/security.png" alt="" />
                              </div>
                              <div class="sec_right float-right h-100">
                                <h4 class="org_name">
                                  悦华洪武综合养老服务中心
                                </h4>
                                <p class="">
                                  <i class="iconfont">&#xe6a2;</i
                                  ><span class="linkMan">孙晓伟</span>
                                  <i class="iconfont">&#xe64a;</i
                                  ><span class="phoneNum">18800566351</span>
                                </p>
                              </div>
                            </div>
                            <div class="sec_line"></div>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header" id="heading_05">
                    <h1 class="mb-0">
                      <button
                        class="btn btn-link w-100 text-white"
                        type="button"
                        data-toggle="collapse"
                        data-target="#collapse_05"
                        aria-expanded="false"
                        aria-controls="collapse_05"
                      >
                        <span class="float-left">
                          建邺区(<span class="orgTotal">8</span>)</span
                        ><i class="iconfont float-right icon1">&#xe631;</i
                        ><i class="iconfont float-right icon2">&#xe632;</i>
                      </button>
                    </h1>
                    <div class="list_line"></div>
                  </div>
                  <div
                    id="collapse_05"
                    class="collapse"
                    aria-labelledby="heading_05)"
                    data-parent="#orgAccordion"
                  >
                    <div class="card-body">
                      <ul class="list-unstyled w-100">
                        <li class="w-100">
                          <a href="javascript:;" class="d-block w-100 h-100">
                            <div class="security w-100 h-100">
                              <div class="sec_left float-left h-100">
                                <img src="../static/img/security.png" alt="" />
                              </div>
                              <div class="sec_right float-right h-100">
                                <h4 class="org_name">
                                  悦华洪武综合养老服务中心
                                </h4>
                                <p class="">
                                  <i class="iconfont">&#xe6a2;</i
                                  ><span class="linkMan">孙晓伟</span>
                                  <i class="iconfont">&#xe64a;</i
                                  ><span class="phoneNum">18800566351</span>
                                </p>
                              </div>
                            </div>
                            <div class="sec_line"></div>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header" id="heading_06">
                    <h1 class="mb-0">
                      <button
                        class="btn btn-link w-100 text-white"
                        type="button"
                        data-toggle="collapse"
                        data-target="#collapse_06"
                        aria-expanded="false"
                        aria-controls="collapse_06"
                      >
                        <span class="float-left">
                          溧水区(<span class="orgTotal">2</span>)</span
                        ><i class="iconfont float-right icon1">&#xe631;</i
                        ><i class="iconfont float-right icon2">&#xe632;</i>
                      </button>
                    </h1>
                    <div class="list_line"></div>
                  </div>
                  <div
                    id="collapse_06"
                    class="collapse"
                    aria-labelledby="heading_06"
                    data-parent="#orgAccordion"
                  >
                    <div class="card-body">
                      <ul class="list-unstyled w-100">
                        <li class="w-100">
                          <a href="javascript:;" class="d-block w-100 h-100">
                            <div class="security w-100 h-100">
                              <div class="sec_left float-left h-100">
                                <img src="../static/img/security.png" alt="" />
                              </div>
                              <div class="sec_right float-right h-100">
                                <h4 class="org_name">
                                  悦华洪武综合养老服务中心
                                </h4>
                                <p class="">
                                  <i class="iconfont">&#xe6a2;</i
                                  ><span class="linkMan">孙晓伟</span>
                                  <i class="iconfont">&#xe64a;</i
                                  ><span class="phoneNum">18800566351</span>
                                </p>
                              </div>
                            </div>
                            <div class="sec_line"></div>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- right -->
        <div
          class="col-9 content-right h-100 embed-responsive embed-responsive-16by9"
        >
          <iframe
            src="reportor_overview_iframe.html"
            id="iframe1"
            class="embed-responsive-item iframe pb-3"
            name="overview"
          ></iframe>
          <!-- <iframe src="reportor_iframe.html" id="iframe2" class="embed-responsive-item iframe pb-3 d-none"
            name="overview"></iframe> -->
        </div>
      </div>
    </div>
    <!-- import bootstrap js -->
    <script src="../static/js/jquery-3.4.1.min.js"></script>
    <script src="../static/js/jquery.easyui.min.js"></script>
    <script src="../static/js/bootstrap.bundle.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="../static/js/bootstrap-table.min.js"></script>
    <!-- Latest compiled and minified Locales -->
    <script src="../static/js/echarts.min.js"></script>
    <!-- common js -->
    <script src="../static/js/common.js"></script>
    <script>
      // 点击切换iframe
      // 发信息
      function switTab() {
        // 第一种：display方式
        // $("#iframe1").css("display", "none");
        // $("#iframe2").removeClass("d-none").css("display", "block");

        // 第二种：src方式
        $("#iframe1").attr("src", "reportor_iframe.html?id=3");

        // var iframe = $("#iframe1")[0];
        // iframe.contentWindow.postMessage("2", "/reportor_iframe.html");
      }
    </script>
  </body>
</html>
